labt08 nodered et freeboard.txt
[{"id":"8519a50a.3770e8","type":"function","z":"5112d0a5.084a5","name":"Creation request 2","func":"\nreturn {\n    payload : {\n        device: msg.payload.device,\n        temp: msg.payload.temp,\n        pos: msg.payload.pos\n    }\n}","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["f6b7caf0.e75cf8"]]},{"id":"e57d7c91.cb969","type":"inject","z":"5112d0a5.084a5","name":"inject","topic":"","payload":"{\"temp_sim\":\"30\",\"pos_sim\":\"10\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["90eed363.88462"]]},{"id":"90eed363.88462","type":"function","z":"5112d0a5.084a5","name":"delta-var","func":"msg.payload.delta = Math.round(Math.random()*5);\nmsg.payload.sign = 1;\nif(Math.round(Math.random())> 0.5){\n    msg.payload.sign = -1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":300,"wires":[["aedf7385.39a4"]]},{"id":"aedf7385.39a4","type":"function","z":"5112d0a5.084a5","name":"payload-device","func":"//codes des capteurs\nmsg.dev1 = '00000000E5D91F60' ;\nmsg.dev2 = '00000000130D42BB' ;\n//indiquer codes au niveau du payload selon le signe (SIMULATION ICI)\nif (msg.payload.sign == 1){\n    msg.payload.device = msg.dev1;//temp\n    //simuler changement de temperature\nmsg.payload.temp = parseInt(msg.payload.temp_sim)+ \nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}else{\n    msg.payload.device = msg.dev2;//position\n    //simuler changement de position\nmsg.payload.pos  = parseInt(msg.payload.pos_sim) +\nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}\nreturn {\n    payload: msg.payload\n}\n","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["1864c510.708fcb","d706bf08.f0d03"]]},{"id":"1864c510.708fcb","type":"switch","z":"5112d0a5.084a5","name":"Split Topic","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"00000000E5D91F60","vt":"str"},{"t":"eq","v":"00000000130D42BB","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["15bb3ea9.d6a6f1"],["8519a50a.3770e8"]]},{"id":"15bb3ea9.d6a6f1","type":"function","z":"5112d0a5.084a5","name":"Creation request 1","func":"\nreturn {\n    payload : {\n        device : msg.payload.device,\n        temp: msg.payload.temp,\n        pos : msg.payload.pos\n    }\n}","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["2f8b3b17.aeb494"]]},{"id":"2f8b3b17.aeb494","type":"http request","z":"5112d0a5.084a5","name":"sensor-temp1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/info34-dbeb-sensor-temp1","tls":"","x":780,"y":80,"wires":[["ec3d10ac.cf372"]]},{"id":"f6b7caf0.e75cf8","type":"http request","z":"5112d0a5.084a5","name":"sensor-pos1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/info34-bdeb-sensor-pos1","tls":"","x":790,"y":220,"wires":[["5201f058.bce94"]]},{"id":"5201f058.bce94","type":"debug","z":"5112d0a5.084a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":240,"wires":[]},{"id":"ec3d10ac.cf372","type":"debug","z":"5112d0a5.084a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":120,"wires":[]},{"id":"d706bf08.f0d03","type":"debug","z":"5112d0a5.084a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":360,"wires":[]}]